/*les couleurs qui se répètent*/
/*Les VARIABLES permettent de déf 1couleur et de la réf dès q besoin*/
$color-primary: #9356DC; /* = violet*/
$color-secondary: #FF79DA; /* = rose*/
$color-tertiary: #99E2D0; /* = vert d'eau*/

/* je remarque que je peux trouver un moyen de réunir*/
/*les éléments de couleur grise : #F6F6F6; #353535; #EAEAEA; #D2D2D2;*/


@charset "UTF-8";
/*les couleurs qui se répètent*/
/*variables scss*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/*nesting*/


.btn {
    background: linear-gradient(to right, #9356DC,red);
    color: #FFF;
    opacity: 1;
    transition: opacity .3s;

    &:hover {
        opacity: .5;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    }
}
