@charset "UTF-8";
/*les couleurs qui se répètent*/
/*variables scss*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$fond-grey: #EAEAEA;
$fond-light-grey: #f6F6F6;

$text-dark-grey: #353535;


/*utilisation du nesting*/
.btn {
    background: linear-gradient(to right,$couleur-primaire, $couleur-secondaire);
    color: #FFF;
    opacity: 1;
    transition: opacity .3s;

    &:hover {
        opacity: .5;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    }
}

.card a {
    color: #000;
    text-decoration: none;

    &:hover {
        color: $couleur-primaire;
    }
}


/* poursuite du nesting p2 et +*/

.menu1 a /*effet sur la flèche*/ {
    color: #000;
    text-decoration: none;

    &:hover {
        color: $couleur-primaire;
    }
}

