@charset "UTF-8";
/*les couleurs qui se répètent*/
/*variables scss*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$white: #FFF;
$black: #000;

$fond-grey: #EAEAEA;
$fond-light-grey: #f6F6F6;

$text-dark-grey: #353535;


/*animation du btn linear gradient + nesting*/
.btn {
    font-weight: 500;
    font-size: 1em;
    border-radius: 25px;
    border: none;
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    background: linear-gradient(360deg,$couleur-primaire, $couleur-secondaire);
    color: $white;
    opacity: 1;
    transition: opacity 1s;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    }
}


/* animation du loader */
/***** LOADER *****/
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $white;
    z-index: 1000000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center; /*centré sur X*/
    align-items: center;  /*centré sur Y*/
    overflow: hidden;
    animation: fadeOut 0.5s ease-in-out forwards;
    animation-delay: 3000ms;
}

.loader-dots {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: upAndDown 1s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot:nth-child(1) {
    animation-delay: 500ms;
    background: $couleur-primaire;
}

.dot:nth-child(2) {
    animation-delay: 1000ms;
    background: $couleur-secondaire; 
}

.dot:nth-child(3) {
    animation-delay: 1500ms;
    background: $couleur-tertiaire;
}

@keyframes upAndDown {
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -30px;
    }
    50% {
        margin-top: 0;
    }
    75% {
        margin-top: 30px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0; 
    }
    100% {
        display: none;
        height: 0;
        width: 0;
    }
}


/* animation coeur */
/* heart homepage/cards */
.tolike {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}

.heart {
    padding-top: 20px;
    padding-right: 25px;
    font-size: 1.5rem;
    width: 32px;
    cursor: pointer;
    background-color: transparent;
}

/*hover*/  
.heart:hover > .empty-heart {
    display: none;
}

.heart:hover > .full-heart {
    display: block;
}

.heart:hover > .full-heart i {
    opacity: 1;
}

.full-heart {
    display: none;
}

.full-heart i {
    opacity: 0;
    color: $couleur-primaire;
    animation: linear-gradient 1s ease-out; 
}

@keyframes linear-gradient {
    0% {
        color:$couleur-primaire;
    }
    50% {
        color:$couleur-secondaire;
    }
    100% {
        color:$couleur-primaire; 
    }
}



/* animation effet cascade via usage de mixins */

.menu__item {
    width: 100%;
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0;
}

/* entrées*/
.first:nth-child(1){
    animation-delay: 0.5s;
}

.first:nth-child(2){
    animation-delay: 0.5s;
}

.first:nth-child(3){
    animation-delay: 0.5s;
}

/*plats*/
.second:nth-child(1){
    animation-delay: 1.5s;
}

.second:nth-child(2){
    animation-delay: 1.5s;
}

.second:nth-child(3){
    animation-delay: 1.5s;
}

/*desserts*/
.third:nth-child(1){
    animation-delay: 2s;
}

.third:nth-child(2){
    animation-delay: 2s;
}

.third:nth-child(3){
    animation-delay: 2s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* animation plat checké */
.card-check {
    background-color: $couleur-tertiaire;
    padding: 22px;
    color: $white;
    font-size: 1.8rem;
    margin-right: -200px;
    transition: 0.3s;
}

.card-bis__link:hover > .card-check {
    margin-right: 0;
}

.card-bis__link:hover > .card-check i {
    animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



