/*les couleurs qui se répètent*/
/*Les VARIABLES permettent de déf 1couleur et de la réf dès q besoin*/
$color-primary: #9356DC; /* = violet*/
$color-secondary: #FF79DA; /* = rose*/
$color-tertiary: #99E2D0; /* = vert d'eau*/

/* je remarque que je peux trouver un moyen de réunir*/
/*les éléments de couleur grise : #F6F6F6; #353535; #EAEAEA; #D2D2D2;*/