.container {
    margin: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

header img {
    height: 44px;
    align-items: center;
    /*font-family: 'Shrikhand', cursive;*/
}

.section1 {
    background-color: #D2D2D2;
}

h1 { /*pour rappel, les titres sont bold par défaut*/
    font-size: 24px;
    color: #000;
}

p {
    font-size: 18px;
    color: #353535;
}

.btn { /*SASS faire le lien entre ce type de btn et les coeurs qui ont le même dégradé*/
    background: linear-gradient(to right, #9356DC,#FF79DA);
}