/*sass : prévoir de travailler sur la fonction darken en lien avec la couleur grise qui revient*/

/*MISE EN PAGE*/
.container {
    margin: auto;
    min-width: 320px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

/*HEADER*/
.hdr {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

header img {
    height: 30px;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*topnav*/
.topnav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #EAEAEA;  
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.icon {
    padding-right: 15px;
    font-size: 1.2em;
}

.localisation {
    font-size: 1.1em;
}


/*SECTION 1*/
.section1 {
    margin: auto;
    width: 100%;
    background-color: #D2D2D2;
    padding-top: 40px;
    padding-bottom: 50px;
}

.reservations {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

h1 { /*pour rappel, les titres sont bold par défaut*/
    font-size: 24px;
    color: #000;
}

.reservations p {
    font-size: 18px;
    color: #353535;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 27px;
    align-items: center;
}

.btn { /*SASS faire le lien entre ce type de btn et les coeurs qui ont le même dégradé*/
    background: linear-gradient(to left, #9356DC,#FF79DA);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
}

/* SECTION2 */
.section2 {
    width: 100%;
    margin: auto;
}

.process {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.process h2 {
    font-size: 24px;
    padding-top: 48px;
    padding-left: 15%;
}

.group {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.instructions { 
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 28px;
    width: 330px;
    gap: 20px;
    background-color: #F6F6F6;
}

.colored-instructions {
    background-color: #F5EDFF;
} /*décrit comme faisant partie de la color-secondary sur la maquette mais ce n'est pas la même*/

.group i {
    color: #7E7E7E;
}

.colored-instructions i {
    color: #9556DC;
}

.number {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 25px;
    width: 21px;
    height: 20px;
    background-color: #9556DC; /*color-primary*/
    color: #FFF;
    margin-left: 70px;
    padding-left: 6px;
    font-size: 0.9em;
}

/* SECTION3 */ 
.section3 {
    width: 100%;
    margin: auto;
}

.places {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15%;
    background-color: #D2D2D2;
}

.places h2 {
    padding-bottom: 10px;
}

   
.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 20px 20px;
    width: 340px;
    background-color: #FFF; 
}

.card img {
    border-radius: 20px 20px 0px 0px;
    object-fit:cover;
    width: 100%;
    height: 170px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tolike {
    display: flex;
    flex-direction: row;  
    width: 100%;
    justify-content: space-between;
}

.tolike h3{
    padding-left: 2%;
    margin-bottom: 2%;
}

.tolike i {
    padding-top: 20px;
    padding-right: 5%;
    font-size: 1.5em;
}

.zone {
    padding-left: 2%;
    padding-bottom: 4%;
}