/* Projet 4 Ohmyfood nouvelle version */


/*MISE EN PAGE*/
.container {
    padding-bottom: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}


/*HEADER*/
.hdr {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    border-bottom: 1px solid lightgrey;
    box-shadow: 6px 6px 25px rgba(198, 194, 194, 0.824);
}

.hdr img {
    height: 30px;
}



/*topnav*/
.topnav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #EAEAEA;  
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.icon {
    padding-right: 15px;
    font-size: 1.2em;
}

.localisation {
    font-size: 1.1em;
}




/* PREMIERE SECTION RESERVATIONS*/
.reservations {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; 
    background-color: #f6F6F6;
    padding-top: 40px;
    padding-bottom: 50px; 
}

h1 { /*pour rappel, les titres sont bold par défaut*/
    font-size: 24px;
    color: #000;
}

.reservations p {
    font-size: 18px;
    color: #353535;
    padding-bottom: 27px;
    padding-left: 12%;
    padding-right: 12%;
}

.btn { /*SASS faire le lien entre ce type de btn et les coeurs qui ont le même dégradé*/
    /*background: linear-gradient(to left, #9356DC,#FF79DA);mis dans sass.scss*/
    /*color: #FFF;idem*/
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    /*opacity: 1;idem*/
    /*transition: opacity .3s;idem*/
}

.btn:hover {
    /*opacity: .5;mis dans sass.scss*/
    /*box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25); idem*/
}

.cta {
    width: 200px;
}


/* DEUXIEME SECTION PROCESS */
.process {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
    width: 100%;
    padding-bottom: 70px;
}

.process h2 {
    padding-top: 48px;
    padding-left: 6%;
    padding-bottom: 10px;
}

.groups {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.instructions { 
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 28px;
    width: 95%;
    gap: 30px;
    background-color: #F6F6F6;
}


.group i {
    color: #7E7E7E;
    margin-left: 5px;
}

.colored-instructions i {
    color: #9556DC;
}

.number {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: #9556DC; /*color-primary*/
    color: #FFF;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 1em;
    margin-right: -10px;
    z-index: 999999;
}

.instructions span {
    font-weight: bold;
}

/* SECTION3 PLACES */ 
.places {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 20px;
    padding-bottom: 70px;
}

.places h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 6%;
}
 
.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 20px 20px;
    width: 100%; 
    background-color: #FFF; 
}

.card a {
    text-decoration: none;
    color: #000;
}

.card a:hover {
    color: #9556DC; 
}

.card img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 170px;
    background-position: center;
}

.new {
    display: flex;
    flex-direction: row;
}

.btn-new {
    background: #99E2D0; 
    color: #008766;
    font-size: 14px;
    /*font-weight: bold;*/
    width: 80px;
    height: 30px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: #000;
    z-index: 999999;
    margin-left: -100px;
    margin-top: 15px;
    border-radius: 2px;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tolike {
    display: flex;
    flex-direction: row;  
    width: 100%;
    justify-content: space-between;
}

.tolike h3{
    padding-left: 2%;
    margin-bottom: 2%;
}

.tolike i {
    padding-top: 20px;
    padding-right: 5%;
    font-size: 1.5em;    
}

.full-heart {
    color: deeppink;
}

.zone {
    padding-left: 2%;
    padding-bottom: 4%;
}

/* FOOTER */
.ftr {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: #FFF;
    padding-left: 20px;
    padding-bottom: 20px;
    gap: 6px;
}

.logo {
    font-family: 'shrikhand', sans-serif;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 10px;
}

.ac-i {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ss-i {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rotated i {
    transform: rotate(-35deg);
}

.ftr i {
    font-size: 0.8em;
    padding-right: 7px;
}

.ftr a {
    color: #FFF;
    text-decoration: none;
}

.ftr a:hover {
    color:#9356DC;
}



/************************************ PAGES 2 et + DU SITE *******************************************/
/*header pages 2, 3, 4 et 5*/
.menu1 {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px; 
    gap: 4%;
    align-items: center;
   
}

.menu1 img {
    align-items: center;
}

.menu1 a {
    text-decoration: none;
    color: #000;
}

.menu1 a:hover {
    color: #9556DC;
}

.hdr-icon {
    padding-left: 8%;
    font-size: 1.5em;
}

/* bannière */
.banner img {
    width: 100%;
    /*object-fit: cover;*/
}

/* section ou je présente les menus*/

.main-sctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #F6F6F6;
    align-items: center;
    padding-bottom: 60px;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -80px;
}


.presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px ;
}

.presentation h1{
    font-family: 'shrikhand', sans-serif;
    font-size: 28px;
}

.presentation i {
    padding-top: 30px;
    font-size: 1.8em;
}

.sctn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-left: 5%;
}

.sctn h2 {
    font-size: 16px;
    font-weight: lighter;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 20px;
    width: 40px;
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding-bottom: 20px;
    background-color: #FFF;
    padding-left: 20px;
}

.courses h3 {
    font-size: 18px;
}

.command {
    display: flex;
    flex-direction: row;
}


.checked:hover {
    padding: 10px 20px;
    background-color: #99E2D0;
    box-sizing: border-box;
    color: #FFF;
    border-radius: 0px 15px 15px 0px;
    /*margin-left: -45px;*/
    /*z-index: 999999;*/
    /*transition: margin-left 2s;*/
    transition: transform 5s ease-in-out .5s;
}

.checked {
    color: transparent;
}

.checked i {
    padding-top: 30px;
}

.d-p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.details {
    font-size: 14px;
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 14%; /*200px*/
}

.price {
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
    z-index: 999999;
}

/* CTA = call to action btn*/
.btn { /*SASS faire le lien entre ce type de btn et les coeurs qui ont le même dégradé*/
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    padding: 16px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
}


.btn-cta {
    justify-content: center;
    width: 300px;
}

/* FOOTER : pas de différence avec celui de la homepage voir au dessus */

/*********************** Media queries tablette *********************/
@media screen and (min-width: 769px) and (max-width: 999px) {  

    /* DEUXIEME SECTION PROCESS */
    .groups {
        width: 100%;
        justify-content: center;
        padding-left: 2%;
    }

    .instructions {
        width: 95%;
        padding-left: 20px;
        align-items: center;
    }

    .number {
        font-size: 0.9em;
    }

    .group i {
        margin-right: -10px;
    }
    
    /* TROISIEME SECTION PLACES */
    
    .card {
        width: 100%;
    }

    .card img {
        object-fit: cover;
    }
    
    /* FOOTER */
    .ftr {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    
    .logo {
        padding-right: 20px;
    }
    
    .ac-i {
        flex-direction: row;
        padding-top: 25px;
        padding-right: 20px;
    }
    
    .ss-i {
        flex-direction: row;
        padding-top: 25px;
        padding-right: 20px;
    }
    
}


/*********************** Media queries desktop **********************/
@media screen and (min-width: 1000px) {  
/* HEADER */
    .hdr {
        width: 100%; 
    }

/* DEUXIEME SECTION PROCESS */

    .process {
        width: 100%;
    }
    .process h2 {
        padding-left: 2%;
    }

    .groups {
       /* margin: auto;*/
        flex-direction: row;
        width: 100%;
        padding-left: 2%;
       justify-content: center;    
    }

    .instructions {
        width: 290px; /*à 280px le rendu sur Mozilla n'est pas le même que sur la maquette */
    }

/* SECTION3 PLACES */
    .places {
        padding-top: 0;
    }
    
    .places h2 {
      padding-left: 2%;
    }

    .cards {
        /*margin: auto;*/
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {   
        width: 35%; /* + gd en version desktop */
        margin-bottom: 30px;
    }

    .card img {
        height: 230px; /* + gd en version desktop */
    }

/* FOOTER */

    .ftr {
        flex-direction: row;
        padding-left: 0;
        padding-bottom: 50px;
    }

    .logo {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 60px;
        padding-left: 80px;
    }

    .ac-i {
        flex-direction: row;
        padding-top: 24px;
        justify-content: flex-end;
    }

    .ss-i {
        flex-direction: row;
        padding-top: 24px;
        padding-left: 50px;
        gap: 18px;
    }

    .one {
        order: 3;
    }

    .two {
        order: 1;
        flex: 1;
    }

    .three {
        order: 2;
    }

        /*je dois retravailler le footer. les éléments ne sont pas dans le meme order*/
        /* apply order après avoir crée une div pour chaque element*/   
}


    