/* Projet 4 Ohmyfood nouvelle version */
/*MISE EN PAGE*/
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    /*padding-bottom: 10px;*/
}

/***** LOADER voir sass.scss*****/
/*.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFF;
    z-index: 1000000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center; /*centré sur X*/
    /*align-items: center;  /*centré sur Y*/
    /*overflow: hidden;
    animation: fadeOut 0.5s ease-in-out forwards;
    animation-delay: 3000ms;
}

.loader-dots {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: upAndDown 1s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot:nth-child(1) {
    animation-delay: 500ms;
    background:#9356DC;
}

.dot:nth-child(2) {
    animation-delay: 1000ms;
    background: #FF79DA; 
}

.dot:nth-child(3) {
    animation-delay: 1500ms;
    background: #99E2D0;
}

@keyframes upAndDown {
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -30px;
    }
    50% {
        margin-top: 0;
    }
    75% {
        margin-top: 30px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0; 
    }
    100% {
        display: none;
        height: 0;
        width: 0;
    }
}
*/

/*HEADER*/
.hdr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px; 
    border-bottom: 4px solid #dcdada;
}

.hdr__img {
    height: 30px;
}

/*TOPNAV = endroit où est localisé le site */
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EAEAEA; 
    padding-top: 15px;
    padding-bottom: 15px;
    color: #353535;
    font-size: 1em;
    font-weight: 500;
}

.topnav__i {
    padding-right: 15px; 
    font-size: 1.1em;  
}

/* PREMIÈRE SECTION RÉSERVATIONS*/
.sctn-reservations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #f6F6F6;
    padding-top: 40px;
    padding-bottom: 60px;
}

h1 {
    font-size: 1.5em;
    color: #000;
    margin-left: 30px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
}

.reservations-content {
    font-size: 1.1em;
    color: #353535;
    padding-bottom: 27px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-left: 25px;
    padding-left: 20px;
    padding-bottom: 27px;
}

/*les caractéristiques de btn sont sur sass*/

/* DEUXIÈME SECTION PROCESS */
.sctn-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
}

/*h2*/
.ttl-h2 {
    font-weight: 700; 
    padding-left: 20px;
}

/*précisions non incluses dans ttl-h2*/
.process-h2 {
    padding-bottom: 10px;
    padding-top: 48px;

}

.sctn-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.groups-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;   
    width: 95%;
    padding-bottom: 25px;
}

.instructions { 
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 28px;
    width: 95%;
    gap: 20px;
    background-color: #F6F6F6;
}

.instructions i {
    color: #7E7E7E;
    margin-left: 5px;
}

.colored-instructions i {
    color: #9556DC;
}

.number {
    font-weight: 500;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background-color: #9556DC;
    color: #FFF;
    padding-left: 8px;
    padding-top: 4px;
    font-size: 0.9em;
    margin-right: -10px;
    z-index: 999999;
}

.instructions span {
    font-weight: bold;
}

/* TROISIÈME SECTION PLACES */ 
.sctn-places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 10px;
    padding-bottom: 60px;
}

.places-h2 {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 0;
}
   
.sctn-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFF; 
}

.card__link {
    text-decoration: none;
    color: #000;
}

.card__link:hover {
    color: #000;
}

.card__img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: 210px;
    background-position: center;
}

.new {
    display: flex;
    flex-direction: row;
}

.btn-new {
    background: #99E2D0; 
    color: #008766;
    font-size: 14px;
    width: 80px;
    height: 30px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: #000;
    z-index: 999999;
    margin-left: -100px;
    margin-top: 15px;
    border-radius: 2px;
    box-sizing: border-box;
}

.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* heart homepage/cards 
.tolike {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}

.heart {
    padding-top: 20px;
    padding-right: 25px;
    font-size: 1.5rem;
    width: 32px;
    cursor: pointer;
    background-color: transparent;
}

/*hover  
.heart:hover > .empty-heart {
    display: none;
}

.heart:hover > .full-heart {
    display: block;
}

.heart:hover > .full-heart i {
    opacity: 1;
}

.full-heart {
    display: none;
}

.full-heart i {
    opacity: 0;
    color:#9356DC;
    animation: linear-gradient 1s ease-out; 
}

@keyframes linear-gradient {
    0% {
        color:#9356DC;
    }
    50% {
        color:#FF79DA;
    }
    100% {
        color:#9356DC; 
    }
}*/

.zone {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: -12px;
}

/* FOOTER */
.ftr {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: #FFF;
    padding-left: 20px;
    padding-bottom: 20px;
    gap: 6px;
}

.ftr__logo {
    font-family: 'shrikhand', sans-serif;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 10px;
}

.ac-i, .ss-i {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rotated i {
    transform: rotate(-35deg);
}

.ftr i {
    font-size: 0.8em;
    padding-right: 7px;
}

.ftr__link {
    color: #FFF;
    text-decoration: none;
}

.ftr__link:hover {
    color:#9356DC;
}



/************************************ PAGES 2 et + DU SITE *******************************************/
/*header pages 2, 3, 4 et 5*/
.pages-hdr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 15px; 
    border-bottom: none;
}

.pages-hdr a /*effet sur la flèche*/ {
    color: #000;
    text-decoration: none;
}

.pages-hdr a:hover {
        color: #000;
    }

.pages-hdr img {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.pages-hdr i {/* trouver un moyen pour le placer correctement*/
    font-size: 1.3em;
    padding-left: 15px;
}

/* bannière */
.banner img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 30px;
    height: 400px;
}

/* section où sont présentés les menus*/
.main-sctn {
    display: flex;
    flex-direction: column;
    background-color: #008766;
    width: 100%;
    margin: auto;
    /*gap: 10px;*/
    background-color: #F6F6F6;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -80px;
}

.sctn-presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.presentation-h1 {
    font-family: 'shrikhand', sans-serif;
    font-size: 1.5em;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}

.sctn-presentation i {
    font-size: 1.2em;
    padding-top: 0;
}

.sctn-menu {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 95%;
    padding: 0;
    background-color: #F6F6F6;
}

.menu-h2 {
    font-size: 1em;
    font-weight: lighter;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    width: 40px;
}

/*.menu__item {
    width: 100%;
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0;
}

/* entrées
.first:nth-child(1){
    animation-delay: 0.5s;
}

.first:nth-child(2){
    animation-delay: 0.5s;
}

.first:nth-child(3){
    animation-delay: 0.5s;
}

/*plats
.second:nth-child(1){
    animation-delay: 1.5s;
}

.second:nth-child(2){
    animation-delay: 1.5s;
}

.second:nth-child(3){
    animation-delay: 1.5s;
}

/*desserts
.third:nth-child(1){
    animation-delay: 2s;
}

.third:nth-child(2){
    animation-delay: 2s;
}

.third:nth-child(3){
    animation-delay: 2s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
*/
.card-bis__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;/*gère l'espace entre le menu et le check*/
    width: 100%;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    background-color: #FFF;
    margin-bottom: 20px;
}

.card-text {
    width: 70%;
    padding-left: 10px;
    padding-bottom: 0;
}

.card-text-h3 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.card-text p {
    margin:0;
    padding-bottom: 0;
}

.price {
    width: 35%;
    font-weight: bold; 
    padding-right: 10px;
}

/*.card-check {
    background-color:#99E2D0;
    padding: 22px;
    color: white;
    font-size: 1.8rem;
    margin-right: -200px;
    transition: 0.3s;
}

.card-bis__link:hover > .card-check {
    margin-right: 0;
}

.card-bis__link:hover > .card-check i {
    animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
*/

/*ellipsis*/
.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 35%;
}

/*btn commander*/
.btn-cta {
    width: 190px;   
    margin-top: 20px;
}

/* FOOTER : pas de différence avec celui de la homepage voir au dessus */

/*********************** Media queries tablette *********************/
@media screen and (min-width: 769px) and (max-width: 999px) {  

    /* DEUXIEME SECTION PROCESS */
    .instructions {
        width: 95%;
        padding-left: 20px;
        align-items: center;
    }

    .number {
        font-size: 0.9em;
    }

    .instructions i {
        margin-right: -10px;
    }
    
    /* TROISIEME SECTION PLACES */
    
    .card-content {
        width: 100%;
    }

    .card__img {
        object-fit: cover;
    }

    /*pages menu : price*/
    .price {
        width: 5%;
    }
    
    
    /* FOOTER */
    .ftr {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    
    .ftr__logo {
        padding-right: 20px;
    }
    
    .ac-i {
        flex-direction: row;
        padding-top: 25px;
        padding-right: 20px;
    }
    
    .ss-i {
        flex-direction: row;
        padding-top: 25px;
        padding-right: 20px;
    }
    
}


/*********************** Media queries desktop **********************/
@media screen and (min-width: 999px) {  
/* HEADER */
    .hdr {
        width: 100%; 
    }

/* PREMIÈRE SECTION RESERVATION*/
.sctn-reservations {
    padding-bottom: 30px;
}

/* DEUXIEME SECTION PROCESS */
    
    .ttl-h2 {
        padding-left: 2%;
        padding-top: 40px;
    }

    .sctn-groups {
        margin: auto;
        flex-direction: row;
        width: 100%;
    }

    .instructions {
        width: 320px;
        padding-right: 15px;

    }

/* SECTION3 PLACES */
    .places {
        padding-top: 0;
    }
    
    .places h2 {
      padding-left: 2%;
    }

    .sctn-cards {
        /*margin: auto;*/
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-content {   
        width: 35%; /* + gd en version desktop */
        margin-bottom: 30px;
    }

    .card__img {
        height: 230px; /* + gd en version desktop */
    }

/*pages menu : price*/
    .price {
        width: 1%;
    }

/* FOOTER */
    .ftr {
        flex-direction: row;
        padding-left: 0;
        padding-bottom: 50px;
    }

    .ftr__logo {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 60px;
        padding-left: 80px;
    }

    .ac-i {
        flex-direction: row;
        padding-top: 24px;
        justify-content: flex-end;
    }

    .ss-i {
        flex-direction: row;
        padding-top: 24px;
        padding-left: 50px;
        gap: 18px;
    }

    .order--one {
        order: 3;
    }

    .order--two {
        order: 1;
        flex: 1;
    }

    .order--three {
        order: 2;
    }

    /* page 2 et +*/
    .main-sctn {
        width: 80%;
        background-color: #F6F6F6;
    }
}


    