/* Projet Ohmyfood nouvelle version */
/* variables declaration */
:root {
/*couleurs principales du site*/
	--primary-color: #9356DC;
	--secondary-color: #FF79DA;
	--third-color: #99E2D0;
/*couleur de fond et de police*/
    --light-background: #EAEAEA;
    --lighter-background: #F6F6F6;  

    --dark-grey: #353535;

    --white-color: #FFF;
    --black-color: #000;
}

/* MISE EN PAGE */
.container {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
    margin: 0;
    width: 100%;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}


.loader, .dot, .hdr, .topnav, .reservations__h1,
.reservations__content, .groups-content, .sctn-cards,
.main-sctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**** LOADER *****/
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--white-color);
    z-index: 1000000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;

/* animation du loader */
    animation: fadeOut 0.5s ease-in-out forwards;
    animation-delay: 3s;
}
/* bloc qui réunit les dots du loader */
.loader-dots {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* gestion des dot un à un */
.dot {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: upAndDown 1s ease-in-out infinite;
}
/* animation des dots */
.dot:nth-child(1) {
    animation-delay: 0.5s;
    background: var(--primary-color);
}
.dot:nth-child(2) {
    animation-delay: 1s;
    background:  var(--secondary-color);
}
.dot:nth-child(3) {
    animation-delay: 1.5s;
    background: var(--third-color);
}
@keyframes upAndDown {
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -30px;
    }
    50% {
        margin-top: 0;
    }
    75% {
        margin-top: 30px;
    }
    100% {
        margin-top: 0;
    }
}
/* disparition du loader après 3sec */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0; 
    }
    100% {
        display: none;
        height: 0;
        width: 0;
    }
}

/* HEADER */
.hdr {
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px; 
    border-bottom: 3px solid #dcdada;
}
.hdr__img {
    height: 30px;
}

/* TOPNAV = endroit où est localisé le site */
.topnav {
    flex-direction: row;
    width: 100%;
    background-color: var(--light-background);
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--dark-grey);
    font-size: 1em;
    font-weight: 500;
}
.topnav__i {
    padding-right: 15px; 
    font-size: 1.1em;  
}

/* PREMIÈRE SECTION RÉSERVATIONS */
.sctn-reservations {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--lighter-background); 
    padding-top: 40px;
    padding-bottom: 60px;
}
.reservations__h1 {
    font-size: 1.5em;
    font-weight: 700;
    width: 80%;
    text-align: center;
    padding-bottom: 15px;
}
.reservations__content {
    color: var(--dark-grey);
    font-size: 1.1em;
    font-weight: 300;
    width: 80%;
    text-align: center;
    padding-bottom: 27px;  
}
/* caractéristiques du btn */
.btn {
    font-weight: 500;
    font-size: 1em;
    border-radius: 25px;
    border: none;
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    background: linear-gradient(360deg,#9356DC, #FF79DA);
    color: var(--white-color);
    opacity: 1;
    transition: opacity 1s;
}
/* changement d'apparence du btn au survol de la souris */
.btn:hover {
    opacity: 0.7;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}

/* DEUXIÈME SECTION PROCESS */
.sctn-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
}
/*caractéristique des h2*/
.h2 {
    font-weight: 700; 
}
/*précisions h2 2e section*/
.process-h2 {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 48px;
}
.sctn-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.groups-content {
    flex-direction: row;
    width: 95%;
    padding-bottom: 25px;
}
.instructions { 
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 28px;
    width: 95%;
    gap: 20px;
    background-color: var(--lighter-background);
}
.instructions i {
    color: #7E7E7E;
    font-size: 1.3rem;
    margin-left: 5px;
}
.instructions i:hover{
    color: var(--primary-color);
}
.number {
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding-left: 8px;
    padding-top: 4px;
    font-size: 0.9em;
    margin-right: -16px;
    z-index: 999999;
}
.instructions span {
    font-weight: bold;
}

/* TROISIÈME SECTION PLACES */ 
.sctn-places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--lighter-background);
    padding-top: 10px;
    padding-bottom: 60px;
}
.places-h2 {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 20px;
}   
.sctn-cards {
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.card-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--white-color);
}
.card__link, .card__link:hover {
    color: var(--black-color);
}
.card__img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: 210px;
    background-position: center;
}
.new {
    display: flex;
    flex-direction: row;
}
.btn-new {
    background: var(--third-color);
    color: #008766;
    font-size: 14px;
    width: 80px;
    height: 30px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: var(--black-color);
    z-index: 999999;
    margin-left: -100px;
    margin-top: 15px;
    border-radius: 2px;
    box-sizing: border-box;
}
.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* heart homepage/cards */
.tolike {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}
.heart {
    padding-top: 20px;
    padding-right: 25px;
    font-size: 1.5rem;
    width: 32px;
    cursor: pointer;
    background-color: transparent;
}
/* hover */ 
.heart:hover > .empty-heart {
    display: none;
}
.heart:hover > .full-heart {
    display: block;
}
.heart:hover > .full-heart i {
    opacity: 1;
}
.full-heart {
    display: none;
}
.full-heart i {
    opacity: 0;
    color: var(--primary-color);
/* animation remplissage du coeur */
    animation: linear-gradient 1s ease-out; 
}
@keyframes linear-gradient {
    0% {
        color: var(--primary-color);
    }
    50% {
        color: var(--secondary-color);
    }
    100% {
        color: var(--primary-color); 
    }
}
.zone {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: -12px;
}

/* FOOTER */
.ftr {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    color: var(--white-color);
    padding-left: 20px;
    padding-bottom: 20px;
    gap: 6px;
}
.ftr__logo {
    font-family: 'shrikhand', sans-serif;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 10px;
}
.ac-i, .ss-i {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.rotated i {
    transform: rotate(-35deg);
}
.ftr i {
    font-size: 0.8em;
    padding-right: 7px;
}
.ftr__link {
    color: var(--white-color);
}
.ftr__link:hover {
    color: var(--primary-color);
}



/************************************ PAGES 2 et + DU SITE *******************************************/
/* header pages 2, 3, 4 et 5 */
.pages-hdr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 15px; 
    border-bottom: none;
}
.pages-hdr a, .pages-hdr a:hover /*effet sur la flèche*/ {
    color: var(--black-color);
}
.pages-hdr img {
    align-items: center;
    justify-content: center;
    margin: auto;
}
.pages-hdr i {
    font-size: 1.3em;
    padding-left: 15px;
}

/* bannière */
.banner__img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 30px;
    height: 400px;
}

/* section où sont présentés les menus */
.main-sctn {
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: var(--lighter-background);
    padding-bottom: 60px;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -80px;
}
.sctn-presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
}
.presentation-h1 {
    font-family: 'shrikhand', sans-serif;
    font-size: 1.5em;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}
.sctn-presentation i {
    font-size: 1.2em;
    padding-top: 0;
}
.sctn-menu {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 95%;
    padding: 0;
    background-color: var(--lighter-background);
}
.menu-h2 {
    font-size: 1em;
    font-weight: lighter;
    border-bottom: 3px solid var(--third-color);
    padding-bottom: 5px;
    width: 40px;
}
.menu__item {
    width: 100%;
/* animation en cascade */
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0;
}
/* entrées */
.first:nth-child(1), .first:nth-child(2), .first:nth-child(3){
    animation-delay: 0.5s;
}
/* plats */
.second:nth-child(1), .second:nth-child(2), .second:nth-child(3){
    animation-delay: 1.5s;
}
/*desserts */
.third:nth-child(1), .third:nth-child(2), .third:nth-child(3){
    animation-delay: 2s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card-bis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;/*gère l'espace entre le menu et le check*/
    width: 100%;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    color: var(--black-color);
    background-color: var(--white-color);
    margin-bottom: 20px;
}
.card-text {
    width: 70%;
    padding-left: 10px;
    padding-bottom: 0;
}
.card-text-h3 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}
.card-text p {
    margin:0;
    padding-bottom: 0;
}
.price {
    width: 35%;
    font-weight: bold; 
    padding-right: 10px;
}
.card-check {
    background-color: var(--third-color);
    padding: 22px;
    color: var(--white-color);
    font-size: 1.8rem;
    margin-right: -200px;
    transition: 0.3s;
}
.card-bis:hover > .card-check {
    margin-right: 0;
}
.card-bis:hover > .card-check i {
    animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*ellipsis*/
.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}
/*btn commander*/
.btn-cta {
    width: 190px;   
    margin-top: 20px;
}

/* FOOTER : pas de différence avec celui de la homepage voir au dessus */
/*********************** Media queries tablette *********************/
@media screen and (min-width: 769px) and (max-width: 999px) {  
/* MARGIN */
    .process-h2 , .sctn-cards, .ac-i, .ss-i {
        margin: auto;
    }
/* DEUXIEME SECTION PROCESS */
    .process-h2 {
        padding-bottom: 40px;
    }
    .groups-content {
        width: 40%;
    }
    .instructions {
        width: 95%;
        padding-left: 40px;
        align-items: center;
        gap: 30px;
    }
    .number {
        font-size: 0.9em;
    }
    .instructions i {
        margin-right: -10px;
        font-size: 1em;
    }
/* TROISIÈME SECTION PLACES */
    .places-h2 {
        padding-left: 45px;
    }
    .sctn-cards {
        width: 90%;
    }
    .card-content {
        width: 100%;
    }
    .card__img {
        object-fit: cover;
    }
/* pages menu : price */
    .price {
        width: 5%;
    }
    .sctn-menu {
        width: 70%;
       }

/* FOOTER */
    .ftr {
        flex-direction: column;
        justify-content: center;
        gap: 0;
        text-align: center;
    }
    .ftr__logo {
        padding-right: 20px;
    }
    .ac-i,  .ss-i {
        flex-direction: row;
        padding-top: 5px;
    } 
}

/*********************** Media queries desktop **********************/
@media screen and (min-width: 999px) { 
/* MARGIN */
    .sctn-process, .groups-content, .sctn-places, .sctn-cards {
        margin: auto;
        } 
/* PREMIÈRE SECTION RESERVATION */
    .sctn-reservations {
    padding-bottom: 30px;
    }
/* DEUXIEME SECTION PROCESS */
    .sctn-process {
        width: 82%;
    }
    .process-h2 {
        padding-top: 40px;
        padding-left: 45px;
    }
    .sctn-groups, .groups-content {
        flex-direction: row;  
    }
    .groups-content {
        width: 35%;
    }
    .instructions {
        width: 320px;
    }

/* TROISIÈME SECTION PLACES */
    .places, .places-h2 {
        padding-top: 0;
    }
    .places-h2 {
        padding-bottom: 10px;
        padding-left: 196px;
    }
    .sctn-cards {
        width: 80%;
        flex-direction: row;
        gap: 90px;
        flex-wrap: wrap;
    }
    .card-content {   
        width: 43%; /* + gd en version desktop */
        margin-bottom: 30px;
    }
    .card__img {
        height: 230px; /* + gd en version desktop */
    }
/* pages menu */
    .price {
        width: 5%;
        padding-top: 30px;
    }
    .main-sctn {
        width: 80%;
        background-color: var(--lighter-background);
    }
/* placement titre et <i> coeur */
    .sctn-presentation {
        justify-content: center;
        gap: 30px;
    }
    .sctn-menu {
        width: 70%;
    }

/* FOOTER */
    .ftr {
        flex-direction: row;
        padding-left: 0;
        padding-bottom: 50px;
    }
    .ftr__logo {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 60px;
        padding-left: 80px;
    }
    .ac-i, .ss-i {
        flex-direction: row;
        padding-top: 24px;
        justify-content: flex-end;
    }
    .ss-i {
        padding-left: 50px;
        gap: 18px;
    }
    .order--one {
        order: 3;
    }
    .order--two {
        order: 1;
        flex: 1;
    }
    .order--three {
        order: 2;
    }
}



    